<div class="container">

        
        <section class="row md-whiteframe-z1 addTodo md-primary">
            <h1 class="md-toolbar-tools">
              <span>Welcome to your material dashboard</span>
            </h1>
        </section>


		
        <!-- <div class="title-home" layout="row" layout-sm="column" layout-align="space-around center">
			<h4>Add todo items, inspirations, and everything you don't want to forget.</h4>
	    </div> -->


	     <div class="row" style="margin-top:30px">
            <div class="input-group md-whiteframe-z1" style="width:100%;max-width:800px;padding:20px 10px;background:#fff;margin-top:15px;">
                <div class="md-tile-content">
                    <h2 style="margin-top:0;">Add todo items</h2>
                    <h4 style="margin-bottom:30px;">You'll not ever forget something.</h4>
                    <md-button class="md-raised md-accent" ng-href="#/todo">Add todo items</md-button>
                </div>
            </div>

            <div class="input-group md-whiteframe-z1" style="width:100%;max-width:800px;padding:20px 10px;background:#fff;margin-top:15px;">
                <div class="md-tile-content">
                    <h2 style="margin-top:0;">Add inspirations sites</h2>
                    <h4 style="margin-bottom:30px;">You'll not ever loose inspiration.</h4>
                    <md-button class="md-raised md-accent" ng-href="#/inspiration">Add an inspiration site</md-button>
                </div>
            </div>

            <div class="input-group md-whiteframe-z1" style="width:100%;max-width:800px;padding:20px 10px;background:#fff;margin-top:15px;">
                <div class="md-tile-content">
                    <h2 style="margin-top:0;">Add an event</h2>
                    <h4 style="margin-bottom:30px;">You'll ever forget a date.</h4>
                    <md-button class="md-raised md-accent" ng-href="#/calendar">View calendar</md-button>
                </div>
            </div>
        </div>

</div>

